# SPDX-FileCopyrightText: 2022 Pablo Marcos <software@loreak.org>
#
# SPDX-License-Identifier: GPL-3.0-or-later

# Ignore the __pycache__ folder (unnecessary) in any subfolder
**/__pycache__/
# Ignore the confidential folder with the Full Database Tables
exposome-explorer/csvfolder/
# Ignore the confidential and outdated schema image
exposome-explorer/database_schema.png
# Ignore the resulting GraphML database (confidential)
exposome-explorer/graph.graphml

# Ignore some test folders with XML files
**/xmlfolder/
